.form {
    width: 90%;
    margin: auto;
}
.form label {
    color: white;
}
.form input {
    padding: 1rem;
    width: 100%;
    border-radius: 12px;
    margin-bottom: 1rem;
}
.form button {
    margin-top: 1rem;
}
.errorMessage {
    font-size: smaller;
    color: lightcoral;
}
@media (min-width: 768px) {
    .form {
        width: 60%;
    }
}